@import "../../styles/base.scss";

.feature-outer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  padding: 40px;
}

.description-title {
  @include typography-feature-title;
}

.description-text {
  @include typography-body;
  margin-top: 20px;
}

.single-feature-image-wrapper {
  width: 95vw;
  height: 70vw;
  margin-bottom: 100px;
}

.multi-feature-image-wrapper,
.single-image-container,
.multi-image-container,
.last,
.home,
.next {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.multi-feature-image-wrapper {
  width: 95vw;
  height: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.single-image-container {
  height: 100%;
  width: 100%;
}

.multi-image-container {
  height: 100%;
}

.nav-arrow-container {
  display: flex;
  justify-content: center;
  height: 38px;
}

.last,
.home,
.next {
  height: 100%;
  width: 38px;
  text-align: center;
  background-color: #2e2e2e;
  border: 1px solid black;
  cursor: pointer;
  background-color: black;
  &:hover {
    opacity: 0.5;
  }
}

.last {
  background-image: url("../../icons/arrow-left.svg");
}

.home {
  margin: 0 2px;
  background-image: url("../../icons/home.svg");
}

.next {
  background-image: url("../../icons/arrow-right.svg");
}

@include large {
  .feature-outer-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .description {
    width: 335px;
    padding: 0 0 40px 30px;
  }
  .images-wrapper {
    width: 53vw;
    margin-left: 5vw;
  }
  .multi-feature-image-wrapper,
  .single-feature-image-wrapper {
    width: 100%;
    margin-bottom: 81px;
  }
  .single-feature-image-wrapper {    
    height: 30vw;
  }

  .multi-feature-image-wrapper {    
    height: 30vw;
  }

  .nav-arrow-container {
    position: fixed;
    right: 0;
  }
}
