@import "../../styles/base.scss";

.feature-outer-wrapper {
  margin-top: 40px;
}

.images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  padding: 40px;
}

.description-title {
  @include typography-feature-title;
}

.description-text {
  @include typography-body;
  margin-top: 20px;
}

.single-feature-image-wrapper {
  width: 95vw;
  height: 70vw;
  margin-bottom: 100px;
}

.multi-feature-image-wrapper,
.single-image-container,
.multi-image-container,
.last,
.home,
.next {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.multi-feature-image-wrapper {
  width: 95vw;
  height: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.single-image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multi-image-container {
  height: 100%;
}


.last {
  background-image: url("../../icons/arrow-left.svg");
}

.home {
  margin: 0 2px;
  background-image: url("../../icons/home.svg");
}

.next {
  background-image: url("../../icons/arrow-right.svg");
}

.cover {
  .single-feature-image-wrapper {
    height: 130vw;
    width: 99vw;
    background-size: cover;
  }
  .images-wrapper {
    align-items: center;
  }
}

@include medium {
  .cover {
    .single-feature-image-wrapper {
      width: 80vw;
      height: 110vw;
    }
    .images-wrapper {
      align-items: flex-start;
      padding-left: 20px;
    }
  }
}

@include large {
  .feature-outer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-outer-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .description {
    width: 335px;
    padding: 0 0 40px 30px;
  }
  .images-wrapper {
    width: 63vw;
    margin-left: 5vw;
    margin-right: 3vw;
  }

  .multi-feature-image-wrapper,
  .single-feature-image-wrapper {
    width: 100%;
    margin-bottom: 81px;
  }
  .single-feature-image-wrapper {
    height: 30vw;
  }

  .multi-feature-image-wrapper {
    height: 30vw;
  }

  .nav-arrow-container {
    position: fixed;
    z-index: 1;
    right: 20px;
  }
  .home {
    display: none;
  }
  .last,
  .next {
    margin: 2px;
  }
  .cover {
    .images-wrapper {
      margin-left: 5vw;
      align-items: center;
      padding: 0;
    }
    .single-feature-image-wrapper {
      width: 60vw;
      height: 75vw;      
    }
  }
}
