.project-title {      
    display: none;
}

.project-preview-box:hover > .overlay {
    display: block;
    width: 100%;
    height: 100%;    
    background-color:#000;
    opacity: 0.5;
    transition: 0.6s;    
}

.project-preview-box:hover > .project-title { 
    display: block;   
    opacity: 1.0;   
    color: black;
}

