@import "../../styles/base.scss";

.about-wrapper {
  @include typography-body;
  display: flex;
  flex-direction: column;
  align-items: top;
  width: 85vw;
  margin: 100px auto;
}

.headshot {
  background: url("../../img/lpc-headshot.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vw;
  margin-bottom: 20px;
}

.about-description {
    width: 100%;
  }

@include medium {
  .about-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
    height: 20vw;
  }
  .headshot {
    height: 20vw;
    width: 20vw;
    margin-right: 10px;
  }
  .about-description {
    width: 50%;
  }
}

.reach-out {
  margin-top: 25px;
}
