@import "../../../styles/base.scss";

#cma-wrapper-1 {
    width: 77vw;
    margin: 100px auto;
}

@include large {
    #cma-wrapper-1 {
        width: 100%;
        height: 50vw;
        margin: 20px 0;
    }
    #cma-wrapper-1-image-1 {
        width: 30vw;
        margin: 0 auto;
    }
}