@import "../../../styles/base.scss";

#rockaway-single-feature-image-wrapper-2 {
  height: 82vw;
}

#rockaway-multi-feature-image-wrapper-3 .multi-image-container {
  width: 32%;
}

#rockaway-multi-feature-image-wrapper-3 {
    height: 45vw;
}

#rockaway-single-feature-image-wrapper-4 {
  height: 59vw;
}

#rockaway-multi-feature-image-wrapper-5 .multi-image-container {
  width: 49%;
}

#rockaway-multi-feature-image-wrapper-5 {
    height: 70vw;
  }

#rockaway-multi-feature-image-wrapper-9 {
  height: 58vw;
}

#rockaway-multi-feature-image-wrapper-9 .multi-image-container {
  width: 49%;
}

@include large {
  #rockaway-single-feature-image-wrapper-2,
  #rockaway-single-feature-image-wrapper-6 {
    height: 55vw;
  }
  #rockaway-multi-feature-image-wrapper-3 {
    height: 29vw;
  }
  #rockaway-single-feature-image-wrapper-4 {
    height: 39vw;
  }
  #rockaway-multi-feature-image-wrapper-5 {
    height: 46vw;
  }

  #rockaway-single-feature-image-wrapper-7,
  #rockaway-single-feature-image-wrapper-8 {
    height: 52vw;
  }
  #rockaway-multi-feature-image-wrapper-9 {
    height: 40vw;
  }
}
