@import "../../styles/base.scss";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  position: relative;
  text-decoration: none;
}

@include large {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
